.Red{
    color:red
}
.Green{
    color:green
}
.Blue{
    color:blue
}
.white{
    color:white
}
.black{
    color:black
}
.orange{
    color:orange
}
.purple{
    color:purple
}
.indigo{
    color:indigo
}